<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="author" content="hkori">
    <meta name="date" content="2021-01-14">
    <meta name="description" content="详情页">
    <title>详情页</title>
</head>
<body>
    <h1>你好</h1>
</body>
</html>